.side-nav{
    width:10%;
    min-width: 150px;

    padding:.5rem;
    margin-right: .5rem;

    border-radius: 10px;
    background-color:rgb(155, 160, 199);

    display:flex;
    justify-content: center;
}

.nav-options{
    padding-top:4rem;
    background-color: lightgray;
    width:100%;
    border:1px solid black;
    border-radius: 10px;

    display:flex;
    flex-direction: column;
    align-items: center;
}


li{
    list-style-type: none; 
    margin-top: 1.5rem;
}

li a{
    text-decoration: none;
}