.App{
  background-color: grey;

  position: absolute;
  top:0rem;
  left:0rem;
  right:0rem;
  bottom: 0rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: rgba(0, 0, 0, 0.521);
  width:95%;
  height: 95%;
  padding:1rem;

  border-radius: 10px;

  display:flex;
  justify-content: center;
}
