.main-content{
    width:80%;
    background-color: white;
    padding:1%;
    border-radius: 10px;

    display:flex;
    justify-content: center;
    align-items: center;
}

.content-container{
    width:95%;
    height:98%;
    padding:1rem;
    background-color: lightgray;
    border-radius: 10px;

    display:flex;
    flex-direction: column;
    align-items: center;
}